body { 
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	background-size: cover;
	font-family: trebuchet ms;
	margin: 0;
	color: #777171;
}
.container {
	width: 80%;
	height: auto;
	min-height: 1500px;
	margin: 0px auto;
	background-color: #f2f2f2;
	border: 1px solid #c3c3c3;
	padding: 3px;
}
.navbar {
	background-color: #14191f;
	width: 99%;
	height: 60px;
	margin: 0px auto;
	color: #777171;
	line-height: 60px;
	padding: 3px;
	border-radius: 1px;
	box-shadow: 5px 5px 15px #05080b inset;
}
.navbar a {
	color: #808080;
	padding: 10px 10px;
	font-size: 16px;
	font-family: Linux Biolinum G;
}
.navbar a:hover {
	color: #a9a9a9;
}
.navbar #logo {
	font-size: 30px;
}
.navbar #login {
	color: #1a830f;
}
.navbar #register {
	color: #d95a05;
}
.navbar #right {
	float: right;
	margin-right: 1%;
}
.silder {
	width: 98%;
	padding: 3px;
	margin: 0px auto;
	background: url('../img/silder.jpg');
	height: 300px;
	margin-top: 15px;
}
.posts {
	width: 59%;
	margin-left: 1%;
	float: left;
	margin-bottom: 20px;
}
.right-box {
	width: 27%;
	margin-right: 1%;
	float: right;
}
.box {
	width: 100%;
	height: auto;
	min-height: 250px;
	background-color: #fff;
	border: 2px solid #ededed;
	margin-top: 20px;
	padding: 1px;
}
.box p {
	padding: 10px;
}
.news {
	width: 100%;
	height: 250px;
	background-color: #fff;
	border: 2px solid #ededed;
	margin-top: 20px;
	padding: 1px;
}
#title {
	border-bottom: 2px solid #f2f2f2;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	padding-left: 15px;
}
.news p {
	padding: 10px;
}
.news #date {
	float: right;
	font-size: 13px;
	padding-right: 15px;
}
.footer {
	width: 100%;
	height: 200px;
	background-color: #fff;
	border-top: 2px solid #ededed;
	clear: both;
	margin-bottom: 10px;
	margin: 0px auto;
}
.footer #boxs {
	width: 23%;
	float: left;
	text-align: center;
	margin-top: 15px;
	height: 175px;
	margin-left: 5%;
	margin-right: 5%;
}
.footer #img {
	color: #777171;
}
a {
	text-decoration: none;
	color: #808080;
}