/* Bootstrap UI.X Version 5
Created by Jerred Shepherd (RiotShielder)
Design by Audentio Design /*

/* Fonts */
body, p, a {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* General Fixes */
a {
    color: #aaa;
}

a:hover {
    text-decoration: none;
    color: #4993c5;
}

/* Background and main content area */
body {
    background-image: url("http://ts-mc.net/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    padding: 0px 0px 0px 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #fff;
}

.jumbotron p {
    font-size: 14px !important;
    font-weight: inherit;
}

.jumbotron h2 {
    margin-top: 10px !important;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* Global Navbar Fixes */
.navbar-default {
    font-weight: bold;
    border: none;
}

.dropdown-menu {
    border-top-color: rgb(73, 147, 197) !important;
    border-top-style: solid !important;
    border-top-width: 2px !important;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 0px 0px !important;
    border-radius: 0px !important;
    position: absolute !important;
}

.icon {
    position: absolute !important;
    left: -125px !important;
}

.dropdown-menu>li>a {
    padding: 5px 10px;
    color: #aaa;
    font-size: 12px;
}
  
.dropdown-menu .dropdown-title {
    font-size: 15pt;
    padding: 0px 8px;
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: 400;
}

/* User (Teal) Navbar */
.navbar-user {
    background-color: #4ecdc5;
    margin-top: 16px;
    height: 40px;
    min-height: 0px;
    
}

.navbar-user .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.98) !important;
    position: absolute;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 768px) {
    .navbar-user .navbar-nav>li>a {
        margin-top: -8px;
    }
    
    .navbar-user .navbar-nav {
        margin-right: -15px;
    }
}

.navbar-user .dropdown-menu .dropdown-title {
    font-size: 15pt;
    padding: 0px 8px;
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Fix navbar border radius on smaller viewports */
@media (max-width: 1199px) {
    .navbar-user {
        border-radius: 4px;
    }
}

.navbar-right {
    margin-right: 13px;
}

.navbar-user i {
    font-size: 16px;
    padding-bottom: 4px;
}

.navbar-user .navbar-nav>li>a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
}

/* Not sure what this does */
@media (max-width: 768px) {
    .navbar-user .navbar-nav>li>a {
        border-radius: 0px;
    }
}

/* Regular Tabs */
.navbar-user .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3EA39C;
}

.navbar-user .navbar-nav>li>a:active, .navbar-user .navbar-nav>li>a:focus {
    color: #fff;
}


/* Active Tabs */
.navbar-user .navbar-nav>.active>a {
    color: #fff;
    background-color: rgb(73, 147, 197);
    border: none;
}

.navbar-user .navbar-nav>.active>a:active, .navbar-user .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgb(250, 250, 250);
}

.navbar-user .navbar-nav>.active>a:hover {
    color: #fff;
}


/* Logo and Search*/
.header-logosearch {
    margin-bottom: 20px;
}

.header-logo {
    width: auto;
    max-width: 326px;
}

.header-logo-mobile {
    width: auto;
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;
}

/* Search */
.header-searchbar-container {
    margin-right: 0px;
    padding-right: 8px;
    box-shadow: none;
}

.header-searchbar {
    margin-top: 20px;
    font-weight: 600;
    width: 100%;
}

.header-searchbar-mobile {
    font-weight: 600;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
}

.search-group {
    border-radius: 2px;
}

.search-area {
    height: 40px;
    border-radius: 2px;
    font-size: 11px;
    min-width: 223px;
}


.btn-search, .btn-search:hover, .btn-search:active, .btn-search:focus {
    color: #ffffff;
    background-color: #4993c5;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    border-color: #4993c5;
    font-size: 16px;
}

.form-control {
    border: none;
    color: #404040;
}

/* Primary (Dark Gray) Navbar */

.navbar-primary {
    background-color: rgb(74, 78, 81);
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
    overflow: ;
    text-transform: uppercase;
}

.nav .navbar-nav {
    margin: 0px !important;
}

.navbar-primary .dropdown-menu {
    background-color: #fff !important;
    text-transform: capitalize;
    font-weight: normal;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgb(73, 147, 197) !important;
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-primary .container {
        padding: 0px !important;
        position: relative;
    }
}

.navbar-primary .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.75);
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width: 768px) {
    .navbar-primary .navbar-nav>li>a {
        border-radius: 0px;
    }
}

.navbar-primary .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3A3E40;
}

.navbar-primary .navbar-nav>.active>a {
    color: #4993c5;
    background-color: rgb(250, 250, 250);
    border: none;
}

.navbar-primary .navbar-nav>.active>a:hover, .navbar-primary .navbar-nav>.active>a:active, .navbar-primary .navbar-nav>.active>a:focus {
    color: #4993c5;
    background-color: rgb(250, 250, 250);
}

.navbar-primary .navbar-nav>li>a:active, .navbar-primary .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.75);
}

/* Secondary (Light Gray) Navbar */
.navbar-secondary {
    background-color: rgb(250, 250, 250);
    height: 39px;
    border-bottom: 1px solid rgb(226, 226, 226);
    font-weight: bold;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 10px;
}

.navbar-secondary-text-container {
    margin-left: 4px;
    margin-top: 10px;
}

.navbar-secondary-text {
    margin-left: 8px;
    margin-right: 8px;
}

/* Footer */
.footer-bg {
    background-color: #fff;
    color: rgb(83, 83, 83);
    border-radius: 6px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}

.footer-bg a {
    margin-right: 15px;
}